body{
  background: navajowhite;
  background-size: cover;
  font-family: 'Trebuchet MS', sans-serif;
}

.typed-out{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: typing 1s steps(20, end) forwards, blink .8s infinite;
}

.container{
  display: inline-block;
}

@keyframes blink {
  from{ border-color: transparent }
  to{ border-color: orange; }
}
@keyframes typing{
  from { width: 0 }
  to { width: 100% }
}

