* {
  margin: 0;
  padding: 0;
}

/* header section */

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  display: inline-flex;
}

header {
  padding: 20px 35px;
  background-color: #39a6b2;
}

header a {
  text-decoration: none;
  color: #fce138;
}

header nav{
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline-flex;
}

header nav ul li a{
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}
/* end heading section*/

/* Bio section */

.column{
  float: left;
  width: 33.33%;
}
.row::after{
  content: "";
  display: table;
  clear: both;
}

.section-title{
  font-size: 55px;
  display: flex;
  padding: 0 100px 20px 100px;
  border-bottom: 3px solid;
  margin-bottom: 35px;
  color: #024e76;
}

/* end bio section */

/* projects section*/

/* end project section*/

/* contact section*/

/* end of contcat section */






