/* I stole this from a very talented css designer by the name of william justen
https://willianjusten.com.br/criando-uma-animacao-de-digitacao-com-css/
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #222730;  
  }
  
  .line {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
    font-family: "Special Elite", monospace;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    max-width: 605px;
  }
  
  .typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal,
      typing 4s steps(40) 1s normal both;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 14em;
    }
  }
  
  @keyframes blinkCursor {
    from {
      border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }
  